@model AddathonDerby.Models.TeamsModel
@{
    ViewData["Title"] = "Admin page";
}
<h2>Admin page (Derby: @Model.DerbyName)</h2>

<a href="/home/AndyAdmin">Home</a><br /><br />

<table class="score_table">
    <tr><td>Id</td><td>Team</td><td>Score</td><td>Password</td></tr>
    @foreach (var team in Model.Teams)
    {
        <tr>
            <td>
                @team.TeamId
            </td>
            <td>
                <a href="/Sturgeon/Team/@team.TeamId">@team.TeamName</a>
            </td>
            <td>
                @team.Score
            </td>
            <td>
                @team.Password
            </td>
            <td>
                <a href="/Sturgeon/AndyEditTeam/@team.TeamId">Edit</a>
            </td>
        </tr>
    }
</table>